
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
   
}
.top-navbar{
    width: 100%;
    height: 7vh;
    background-color: #a9a9a926;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.top-txt{
    margin-left: 45px;
}
.top-txt{
    font-size: 20px;
    color: palevioletred;
    margin-left: 10px;
    cursor: pointer;
}
.other-links{
    margin-right: 33px;
}
.other-links {
    color: palevioletred;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#btn-login{
    width: 100px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-login a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-login a:hover{
 
    color: white;
}
#btn-login:hover{
    background-color:palevioletred;
    color: white;
}
#btn-signup{
    width: 100px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-signup a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-signup a:hover{
    /* background-color: #1c1c50; */
    color: white;
}
#btn-signup:hover{
    background-color:palevioletred;
    color: white;
}
@media screen and (max-width:500px){
    .top-icons{
        margin-left: 30px;
    }
    .top-icons i{
        font-size: 15px;
    }
    .other-links i{
        font-size: 15px;
    }
    #btn-login{
        width: 60px;
        height: 5vh;
    }
    #btn-signup{
        width: 70px;
        height: 5vh;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 10px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 10px;
    }
    #btn-login{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    #btn-signup{
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 12px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 12px;
    }
    #btn-login{
        width: 40px;
        height: 5vh;
        font-size: 10px;
    }
    #btn-signup{
        width: 50px;
        height: 5vh;
        font-size: 10px;
    }
}

/* Navbar Start */ 
 #navbar{
    background: peachpuff;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: rgb(36, 34, 34);
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
  
}

#logo span{
    color:#ffa500;
  
   

}
.navbar-toggler span{
    color:  #ab572d;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.navbar-nav .nav-link::after {
    content: "";
    display: block;
    height: 0.2em;
    width: 0;
    background: #ab572d;
    transition: all 0.5s;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}
.nav-item .nav-link:hover{
   
    color:#ffa500;
}
#navbar form button{
    background: #ffa500;
    color: white;
    border:1px solid white;
}



/* Navbar End */

/* Home Section Start */
.home{
    width: 100%;
    height: 100vh;
    background-image:  url(./4355.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    margin-left: 2rem;
    padding-top: 200px;
    
}

.home .content h4{
    color:white;
    font-size: 65px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}


.home .content a{
    margin: 10px;
    padding: 10px;
    background:white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.5s;
}
.home .content a:hover{
    background: #ffa500;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
   
    .home .content h3 {
        font-size: 38px;
    }
   
}
/* Home Section End */



/* banner */
.banner{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1961792/pexels-photo-1961792.jpeg?cs=srgb&dl=pexels-valeriya-1961792.jpg&fm=jpg);
}
.banner .content{
    text-align: center;
    padding-top: 100px;
}
.banner .content h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner .content p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn button:hover{
    background-color: palevioletred;
    border: none;
}
/* banner */






/* top cards */
#top-cards{
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
    
}
#top-cards .card img{
    height: 60vh;
}
#top-cards h5{
    color:white;
    font-weight: bold;
}
#top-cards button{
    width: 150px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 3px;
    background: transparent;
    color:white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#top-cards button:hover{
    background-color:#ab572d;
    color: white;
}
/* top cards */






/* Section Gallary Start */
.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
/* Section Gallary End */



/* product cards */
#product-cards{
    font-family: 'Roboto Slab', serif;
    margin-top: 100px;
  
}

#product-cards .card{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#product-cards h1{
    margin-top: 30px;
    color: #1c1c50;
    text-shadow: 1px 1px 1px black;
}
#product-cards h3{
    letter-spacing: 3px;
    color: #1c1c50;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}
#product-cards h5 span{
    float: right;
    color: #1c1c50;
    cursor: pointer;
}
.checked{
    color: rgb(255, 187, 0);
}
#viewmorebtn{
    display: flex;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    margin-top: 30px;
    width: 200px;
    height: 32px;
    color: #1c1c50;
    letter-spacing: 5px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #1c1c50;
    transition: 0.5s ease;
}
#viewmorebtn:hover{
    background-color: palevioletred;
    color: white;
}
/* product cards */













/* About Start */

.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}

.main-txt h1{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: palevioletred;
}



.about h2{
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(202, 202, 88);


}
.about p{
    font-weight: 500;
    letter-spacing:3px ;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ab572d;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* About End */





/* Section Services Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: palevioletred;
}
.product .card{
    border-radius: 5px;
    border: 1px solid rgb(163, 161, 161);
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    transition: all 0.3s ease;
    
}

.product .card:hover{
    transform: scale(1.1);
}
.product .card img{
    border-radius: 5px;
  
    
}
.product .card .card-body{
background: transparent;  
}
.product .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.product .card .card-body p{
    font-size: 15px;
}
.checked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
}
.product .card .card-body h6{
    font-size: 20px;
}
#product a{
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    
    color: white;
    border-radius: 5px;
}
/* Section Services End */



/* contact */

#contact{
    margin-top: 50px;
}
#contact .card{
    background-color:rgba(255, 192, 203, 0.938);
    height: 70px;
    margin-top: 20px;
    box-shadow: rgba(90, 47, 77, 0.2) 0px 7px 29px 0px;
   }
#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: palevioletred;
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(71, 58, 75);
}
.messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid rgb(53, 50, 54);
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
    cursor: pointer;
}
.messagebtn button:hover{
    background-color:palevioletred;
    color: white;
}
/* contact */





/* login */
.login{
    width: 40%;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
   
  
}
#side1{
    background-color:palevioletred;
    height: 65vh;
    border-radius: 4px; 
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
} 
#side1 h3{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: 200px;
    align-items: center;
    text-align: center;
} 
#side1 p{
    color: white;    
    font-weight: bold;
    align-items: center;
    text-align: center;
}
#btn{
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}
#btn a{
    text-decoration: none;
    color: white;
}
#side2{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: center;
}
#side2 h3{
    margin-top: 50px;
    color:palevioletred;
    font-weight: bold;
}
#side2 .inp{
    margin-top: 32px;
}
#side2 input{
    width: 500px;
    margin-top: 20px;
    height: 36px;
    align-items: center;
}
#side2 p{
    margin-top: 20px;
    cursor: pointer;
}
#side2 .icons i{
    margin-left: 10px;
    cursor: pointer;
    color: palevioletred;
}
#login{
    margin-top: 10px;
}
#login button{
    width: 200px;
    height: 32px;
    color: white;
    background-color:palevioletred;
    border: none;
    font-weight: bold;
} 
 @media screen and (max-width:992px){
    #side2 input{
        width: 300px;
    }
}
@media screen and (max-width:330x){
    #side2 input{
        width: 200px;
    } 
}  


/* footer */
#footer{
    padding: 0 0 30px 0px;
    color: rgb(19, 18, 18);
    font-size: 14px;
    background-color:peachpuff;
    margin-top: 100px;
}
#footer .footer-top{
    padding: 60px 0 30px 0;
    background-color:peachpuff;

    color: black;
}
#footer .footer-top .footer-contact{
    margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3{
    color: #ab572d;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color:black;
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
}
#footer .footer-top .footer-links h4{
    color:#ab572d;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: rgb(14, 14, 14);
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
}
#footer .footer-top .footer-links ul li a:hover{
    color:#ab572d;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}
#footer .footer-top .socail-links a:hover{
    background-color:#ab572d;
    color: white;
}
#footer .copyright{
    text-align: center;
    float: left;
}
#footer .credits{
    float: right;
    text-align: center;
    font-size: 13px;
}
#footer .credits a{
    color:#ab572d;
}
/* footer */




